.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
}

.app-content {
  background-color: gray;
  height: 100vh;
}

header {
  z-index: 2;
}

header::before {
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  background: url("./assets/images/rainbowstripe.jpg") repeat-x;
}

body::after {
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  background: url("./assets/images/rainbowstripe.jpg") repeat-x;
}

.header-bottom {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
  display: block;
  z-index: -1;
}

.header-bottom::after {
  box-shadow: 0 0 0 100px #fff;
  border-radius: 100%;
  position: absolute;
  height: 190px;
  content: '';
  right: -20%;
  left: -20%;
}