.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
}

.app-content {
  width: 100%;
}

header {
  z-index: 2;
}

.rainbow-line {
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  background: url("./assets/images/rainbowstripe.jpg") repeat-x;
}

footer::before {
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  background: url("./assets/images/rainbowstripe.jpg") repeat-x;
}

footer {
  overflow: hidden;
  position: relative;
}

.footer-background {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.footer-content {
  position: relative;
}

.bg-blue {
  background-color: #388383;
}

.bg-orange {
  background-color: #E7762A;
}