.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
}

.app-content {
  width: 100%;
}

header {
  z-index: 2;
}

header::before {
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  background: url("./assets/images/rainbowstripe.jpg") repeat-x;
}

body::after {
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  background: url("./assets/images/rainbowstripe.jpg") repeat-x;
}